/* Page-specific styling */
html {
    background: #F9F9F9; }

#content-header {
    background: #666666;
    color: #fff;
    width: 100%;
    height: 60px;
    overflow: visible; }

.padding {
    padding: 10px;
    overflow: visible; }

.step1 {
    overflow: visible; }

h1 {
    font-family: "Segoe WP Light", "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
    line-height: 80%;
    font-weight: 500; }

#content-main {
    background: #F9F9F9;
    top: 60px; }

.ms-Button {
    color: #fff;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #EA7F04;
    border: 1px solid #666666;
    height: 32px;
    min-width: 40px;
    padding: 4px 10px 6px; }

.ms-Button_grey {
    color: #000;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #cacaca;
    border: 1px solid #666666;
    height: 32px;
    min-width: 40px;
    padding: 4px 10px 6px; }

.ms-Button_small {
    color: #333;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #CBCBCB;
    border: 1px solid #767676;
    height: 32px;
    min-width: 30px;
    padding: 4px 10px 6px; }

.ms-Dialog.ms-Dialog--lgHeader .ms-Dialog-subText, .ms-Dropdown {
    font-size: 12px; }

.ms-ChoiceField .ms-Label {
    font-size: 12px;
    padding: 0 0 0 26px; }

.ms-ChoiceField {
    color: #fff;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    padding-bottom: 10px; }

.ms-TextField {
    color: #333;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 0 8px;
    padding: 0;
    box-shadow: none;
    line-height: 12px; }

.ms-TextField-description {
    color: #767676;
    font-size: 10px; }

.ms-Dropdown, .ms-Dropdown-items, .ms-Dropdown-title {
    box-sizing: border-box;
    box-shadow: none;}

.tableheader {
    width: 85%; }

.tableborder {
    border-top: 0.75px solid;
    border-bottom: 0.75px solid;
    width: 100%;
    border-color: #e2e2e2; }

.tablecol1 {
    width: 82%; }

.ms-Dialog-header {
    box-sizing: border-box;
    padding: 12px 20px 5px; }

.ms-Dropdown.is-open .ms-Dropdown-items, .ms-Dropdown.ms-Dropdown--open .ms-Dropdown-items {
    display: block;
    position: fixed;
    overflow: scroll; }