/* Page-specific styling */
html {
    background: #F9F9F9; }


#content-header {
    background: #666666;
    color: #fff;
    width: 100%;
    height: 60px;
    overflow: visible; }

.padding {
    padding: 10px;
    overflow: visible; }

h1 {
    font-family: "Segoe WP Light", "Segoe UI", "Arial", sans-serif;
    font-size: 18px;
    line-height: 80%;
    font-weight: 500; }

#content-main {
    background: #F9F9F9;
    top: 60px; }

.ms-Button {
    color: #fff;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #EA7F04;
    border: 1px solid #666666;
    height: 32px;
    min-width: 40px;
    padding: 4px 10px 6px; }

.ms-Button_grey {
    color: #000;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #cacaca;
    border: 1px solid #666666;
    height: 32px;
    min-width: 40px;
    padding: 4px 10px 6px; }

.ms-Button_small {
    color: #333;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #CBCBCB;
    border: 1px solid #767676;
    height: 32px;
    min-width: 30px;
    padding: 4px 10px 6px; }

.ms-Dialog.ms-Dialog--lgHeader .ms-Dialog-subText, .ms-Dropdown {
    font-size: 12px; }

.ms-ChoiceField .ms-Label {
    font-size: 12px;
    padding: 0 0 0 26px; }

.ms-ChoiceField {
    color: #fff;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    padding-bottom: 10px; }

.ms-TextField {
    color: #333;
    font-family: 'Segoe UI Regular WestEuropean','Segoe UI','Segoe WP',Tahoma,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0 0 8px;
    padding: 0;
    box-shadow: none;
    line-height: 12px; }

.ms-TextField-description {
    color: #767676;
    font-size: 10px; }

.ms-Dropdown, .ms-Dropdown-items, .ms-Dropdown-title {
    box-sizing: border-box;
    box-shadow: none;}

.tableheader {
    width: 85%; }

.tableborder {
    border-top: 0.75px solid;
    border-bottom: 0.75px solid;
    width: 100%;
    border-color: #e2e2e2; }

.tablecol1 {
    width: 82%; }

.ms-Dialog-header {
    box-sizing: border-box;
    padding: 12px 20px 5px; }

.ms-Dropdown.is-open .ms-Dropdown-items, .ms-Dropdown.ms-Dropdown--open .ms-Dropdown-items {
    display: block;
    position: fixed;
    top: 60px;
    overflow: scroll; }

.placeholder {
    height: 60px;
    overflow: visible;
    background: #F9F9F9; }

#showEmbeddedDialog {
    visibility: hidden;}

#showEnterprise {
    visibility: hidden;}

#tmp_hide {
    background: #e0e0e0;
    overflow: visible;
    padding: 10px; }

#small_drop {
    width: 135px ; }

#simple_dropdown {
    width: 135px ; }

#delimiter_beginning1 {
    width: 135px ; }

.ms-TextField-field {
    min-width: 135px; }

.tableval {
    width: 53%; }

#advanced_dropdown2 {
    width: 135px; }

.ms-Button_icon {
    border: 0px;
    background: #F9F9F9; }

#helpCallout {
    visibility: hidden; }

#helpCalloutFirst {
    visibility: hidden; }

.ms-Callout-main {
    position: absolute;
    background-color: #fff;
    box-sizing: border-box;
    outline: transparent solid 1px;
    z-index: 5;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.4); }

.ms-Callout-header {
    z-index: 105;
    padding: 10px 15px 10px; }

.ms-Callout-inner {
    height: 100%;
    padding: 0 15px 15px; }

.ms-Callout-actions {
    position: relative;
    margin-top: 10px;
    width: 100%;
    white-space: nowrap; }

.ms-Callout-title {
    margin: 0;
    font-size: 16px; }

.ms-Callout-close {
    margin: 0;
    border: 0;
    background: 0 0;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 12px;
    padding: 8px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    color: #666;
    z-index: 110; }

#help_callout {
    visibility: hidden;}

.ms-Dialog.ms-Dialog--lgHeader .ms-Dialog-subText, .ms-Dropdown {
    font-size: 11px; }

.ms-TextField.ms-TextField--placeholder .ms-Label {
    position: absolute;
    font-size: 11px;
    color: #666;
    padding: 7px 0 7px 10px; }

#allColumns {
    width: 60%;
    border-bottom: 0.75px solid;
    border-color: #e2e2e2; }

